:root {
    --font-family: "Poppins", sans-serif;
    --background-color: #0f0f13;
    --headline-color: #ffffff;
    --text-color: #a0a4b8;
    --button-color: #7f5af0;
    --button-hover-color: #6d48e1;
    --button-text-color: #ffffff;
    --secondary-color: #5c5f6b;
    --tertiary-color: #2cb67d;
    --main-padding: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family), "Poppins", sans-serif;
    background-color: #16161a;
    color: #fff;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

ul {
    list-style-type: none;
}


/* side Navbar */
nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: rgba(255, 255, 255, 0.1); /* Transparent effect */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px 0;
    border-radius: 0 0 20px 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

/* Navigation List */
nav ul {
    display: flex;
    gap: 30px;
    padding: 0;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: var(--headline-color);
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

/* Hover Effect */
nav ul li a:hover {
    color: var(--tertiary-color);
}

/* Animated Span Effects */
nav ul li a::before,
nav ul li a::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--button-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

/* Left Span */
nav ul li a::before {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

/* Right Span */
nav ul li a::after {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

/* Hover Animation */
nav ul li a:hover::before,
nav ul li a:hover::after {
    opacity: 1;
    transform: scale(1.5);
}

/* Main Content */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 0 50px;
}

.info {
    flex: 1;
    position: relative;
}

.info h1 {
    font-size: 48px;
    color: var(--headline-color);
}

.info h2 {
    font-size: 28px;
    color: #2cb67d;
}

.info .programming-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.info .programming-icons i {
    font-size: 20px;
}

.profile-pic {
    flex: 1;
    display: flex;
    justify-content: center;

}

.profile-pic img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

/* Responsive Design */

@media (max-width: 772px) {
    nav {
        width: 100%;
        border-radius: 0;
    }

    nav ul {
        gap: 20px;
    }

    .container {
        margin-top: 100px;
        flex-direction: column;
        text-align: center;
    }
}

.page {
    display: none;
}

#page1:target, #page2:target, #page3:target, #page4:target, #page5:target , #page6:target {
    display: flex;
}

body:not(:has(:target)) #page1 {
    display: flex;
}

/*page 2*/
#page2 {
    flex-direction: column;
    align-items: center;
}

#page2 h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    color: var(--tertiary-color);
    position: relative;
}

#page2 .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 772px) {
    #page2 .box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 600px) {
    #page2 .box-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

#page2 .box {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    cursor: zoom-in;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#page2 .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    z-index: -1;

}


#page2 #box1::before {
    background-image: url("../assets/images/coding.jpg");
}

#page2 #box2::before {
    background-image: url("../assets/images/reading.jpg");
}

#page2 #box3::before {
    background-image: url("../assets/images/traveling.jpg");
}

#page2 .box:hover::before {
    transform: scale(1.2);
}

#page2 .box h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--headline-color);
    position: relative;
    z-index: 1;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

#page2 .box p {
    font-size: 16px;
    color: var(--background-color);
    text-align: center;
    padding: 10px;
    background-color: var(--text-color);
    margin-top: 500px;
    opacity: 0;
    transition: all 0.7s ease-out;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

#page2 .box:hover p {
    opacity: 1;
    margin-top: 0;
}

/*Page3*/
#page3 {
    flex-direction: row;
    align-items: center;
}

#gift_img_wrapper {
    position: relative;
    display: block;
    animation: disappear 5s ease-in-out 1s forwards;
}

#gift_img {
    width: 200px;
    display: block;
}

/*Form*/
.form {
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: show 0s 5s forwards, fadeIn 1s 5s forwards;
}

@keyframes show {
    to {
        visibility: visible;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #f5f5f5;
    font-size: 16px;
    outline: none;
    resize: none;
    transition: 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

textarea:focus {
    background: #fff;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

button {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


button {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    text-decoration: none;
    text-align: center;
}

button :hover {
    background: var(--button-hover-color);
}

button:focus {
    outline: none;
}

.thank-you {
    display: none;
    color: #155724;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.submit-btn {
    display: inline-block;
    background: var(--button-color);
    color: var(--button-text-color);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.submit-btn:hover {
    background: var(--button-hover-color);
}

input:checked + form {
    display: none;
}

input:checked + form + .thank-you {
    display: block;
}

/*page 4*/
#page4 {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-form input, .contact-form textarea {
    padding: 12px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    color: var(--button-color);
    font-size: 24px;
    transition: all 0.3s;
}

.social-icons a:nth-child(1):hover {
    color: #58baff;
}

.social-icons a:nth-child(2):hover {
    color: #c03486;
}

.social-icons a:nth-child(3):hover {
    color: #2eb4ff;
}

.social-icons a:nth-child(4):hover {
    color: #fafbfc;
}

/*Page 6*/
#page5 {
    width: 60%;
    margin: 0 auto;
}

#page5 .slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#page5 .slider {
    display: flex;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#page5 .slider::-webkit-scrollbar {
    display: none;
}

#page5 .slide {
    flex: 0 0 100%;
    position: relative;
}

#page5 .slide img {
    width: 100%;
    scroll-snap-align: start;
    object-fit: cover;
    display: block;
}

.slide::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slide1::after{
    content: "Mecca";

}
#slide2::after{
    content: "New york";

}
#slide3::after{
    content: "London";
}

/*page 6*/
/* General Styling */
#page6 {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

.resume {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.resume h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--headline-color);
    margin-bottom: 20px;
}

.resume-content {
    display: flex;
    gap: 20px;
}

.left, .right {
    flex: 1;
}

h2 {
    font-size: 1.5rem;
    color: var(--headline-color);
    border-bottom: 2px solid var(--tertiary-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.2rem;
    color: var(--tertiary-color);
    margin-bottom: 5px;
}

p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .resume-content {
        flex-direction: column;
    }
}
